<header>
<%= image_tag("logo.png", :alt=>"logo", :class=>"round")%>
<nav class="round">
<ul>
<li><%=link_to "Home",'#'%></li>
<li><%=link_to "Sign in",'#'%></li>
<li><%=link_to "Help",'#'%></li>
</ul>
</nav>
</header>